@import "../../styles/colors.scss";

.nav {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 40px;
  cursor: pointer;
}

.nav-menu {
  width: 50%;
  display: flex;
  justify-content: space-evenly;

  li {
    padding: 0.5em 1em;
  }

  li a {
    color: $white-color;
  }

  li:hover {
    box-shadow: $box-shadow;
    cursor: pointer;
  }
}

.nav-icon {
  display: none;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

@media (max-width: 768px) {
  .nav-icon {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: calc(100vh - 5em);
    position: absolute;
    top: 5em;
    left: -110%;
    background-color: #0ea5e9;
    transition: all 0.5s ease;

    &.active {
      left: 0;
    }

    li {
      margin: 1em 0;
      font-size: 1.5rem;
    }
  }
}
